/*.article {
	border-style: double none double none; 
	border-color: black;
	min-height: 100px;
    width: 600px;
	margin: 5px;
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
}

.pInsideForm{
	border-top: double;
	border-color: black;
	text-align: center;
	padding-top: 20px;
}

.hidden{
	display: none;
}

.pageCounting{
	font-family: 'Courier New', Courier, monospace;
}





ul > li:nth-child(even){
	border-bottom: black 1px dashed;
}

.divArticleButtons{
	float:right;
    display: flex;
    justify-content: space-between;
	margin-top: 0px;
}

div > ul > li > div > button{
	margin-left: 5px;
}
*/

html{
	font-family: 'Courier New', Courier, monospace;

}

body{
	min-height: 1200px;
	position: relative;
	background-color: #ffffff;
	opacity: 1;
	background-image: radial-gradient(#9e9e9e 1.85px, #ffffff 1.85px);
	background-size: 37px 37px;
	margin: 10px;
}

.nav{
	padding: 10px;
	margin: 10px;
	width: auto;
	background-color: floralwhite;
	border-radius: 7pt;
}

ul{
	list-style-type: none;
}

ul > li{
	margin: 5px;
	padding-bottom: 10px;
}

a{
	text-decoration: none;
	margin-top: 10px;
	padding: 5px;
	color: black;
}

a:hover{
	background-color: bisque;
	
}

a:visited{
	color: black;
}

.warning{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	width: fit-content;
}

@font-face {
	font-family: "myCustomFont";
	src: url(Inspiration-Regular.ttf);
}

footer {
	margin-top: 10px;
	clear: both;
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	padding: 10px;
}

header, footer{
	min-height: 30px;
	text-align: center;
	background-color: silver;    
	border-radius: 7pt;
	width: 100%;
}

.specialText {
	
	margin:10px;
	font-weight: bold;
}

h1 {
	color:#feb236;
	margin:10px;
	font-size:100px;
	font-family: myCustomFont;
}
 
h2{
	font-size: 30px;
	color: red;
    padding-top: 0px;
    padding-bottom: 10px;
}